extends layout

block content
  section.hero.is-dark.bg-board-blue
    div.hero-body
      div.container
        h1.title Vinnytsia EPAM GARAGE
        h2.subtitle Embedded developers local server
  section.hero.is-medium.parallax-soldering
    div.hero-body
      div.container
        h1.title.is-4 Create your own embedded project based on this platform
  section.hero.is-dark.bg-board-green
    div.hero-body
      div.container
        h1.title.is-4 Platform running on Node.js server
  section.hero.is-large
    div.hero-body
      div.container
        h1.title.is-4