extends layout

block content
    section.hero.is-hidden-mobile.is-dark.bg-tennis-dark_red
        div.hero-body
            div.container
                h1.title Vinnytsia EPAM GARAGE
                h2.subtitle Embedded developers local server
    section.hero.is-dark.bg-tennis-blue
        div.hero-body
            div.container
                h1.subtitle.is-3 Book room
                input(type="text" placeholder="Title").input
                div.columns
                    div.column.is-half
                        input(type="time" value="09:00").input
                    div.column.is-half.inpTime
                        input(type="time" value="23:59").input
                textarea(placeholder="Comment").input
                a.button.reserve reserve
    include timeline

    script(src='./javascripts/element-processor.js')
    script(src='./javascripts/tennis-time-table.js')