div.content
    section.hero.is-small.is-dark.bg-tennis-dark
        div.hero-body
            div.container
                p.subtitle.is-4 8:15 - 8:45
                    //button.button.is-small.is-success.cancel-booking edit
                    //button.button.is-small.is-danger cancel
                p.title.is-4 Vasia 305 vs Vova 308
                p.subtitle.is-6 Some comment
    section.hero.is-small.is-dark.bg-tennis-dark
        div.hero-body
            div.container
                p.subtitle.is-4 8:15 - 8:45
                p.title.is-4 Vasia 305 vs Vova 308