.cancel-booking {
  margin-left: 25px;
  color: #ff2d6a; }

.columns:not(:last-child) {
  margin-bottom: 0; }

@media screen and (max-width: 769px) {
  .inpTime {
    padding-top: 0; } }

.error {
  font-size: 14px; }
  .error > .notification {
    margin-bottom: 3px;
    padding: 10px; }
    .error > .notification .delete {
      margin: 3px;
      border-radius: 0; }
